body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: black;

}
.top-container{
    background-color: #FFFBF5;
    padding-top: 0;
    position: relative;
    text-align: center;
}
.bg{
    width: 100%;
    height: 100%;
}

.first-cloud{
    
    position: absolute;
    right: 200px;
    top: 70px;
}
h1{
    font-size: 9rem;
    display: inline;
    font-family: 'Sacramento', cursive;
    margin-left: 30%;
    margin-top: 150px;
    color: #6fffff ;
    position: absolute;
}
h2{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
}
.dev{
    display: inline;
    position: absolute;
    margin-top: 320px;
    margin-left: 37%;
    color: white;
}
h3{
    display: block;
    margin-left: 100px;
    width: 1000px;
    font-family: 'Montserrat', sans-serif;
}
.html-h3{
    margin-left: 100px;
    width: 1000px;
}
h2{
    display: block;
    font-size: 2.5rem;
}
.second-cloud{
    position: absolute;
}
.pro{
    text-decoration: underline;
}
.profile{
    background-color: black;
    padding: 100px 0 50px;
    color: white;
}
.skill-row{
    position: relative;
    text-align: center;
    width: 70%;
    margin: 100px auto;
}
.gif1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: right;
    margin: 30px;
}
.gif2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
    margin-top: 50px;
}
.skills{
    padding: 100px 0 100px 0;
    background-color: #C3ACD0;
    scroll-snap-type: mandatory;
    scroll-snap-points-y:repeat(300px);
    scroll-snap-type: y mandatory;
    
}
.bottom-container{
    padding: 50px;
    background-color: #041414;
}
.contact-me{
    padding: 60px 0 60px 0;
    color: #b1434b;
    background-color: black;
}
.footer-link{
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    color: rgb(87, 99, 99);
    font-family: 'Montserrat', sans-serif;
}
.h{
    line-height: 2;
    text-align: left;
}
.i{
    line-height: 2;
    text-align: left;
}
hr{
    margin: 1px auto;
    border: 20px 0 0;
    border-style: double ;
    width: 30%;
    color: #5bf614;
    align-self: center;
}
.copy-right{
    color: rgb(34, 117, 45);
    font-size: small;
}
.footer-link:hover{
    color: #6fffff;
    font-size: medium;

}
.cm{
    display: inline-block;
    width: 70%;
    margin: 10px auto 10px auto;

}
.mc{
    margin-bottom: 30px;
}
.btn {
    margin: 60px auto;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #cfcb80);
  background-image: -moz-linear-gradient(top, #3498db, #cfcb80);
  background-image: -ms-linear-gradient(top, #3498db, #cfcb80);
  background-image: -o-linear-gradient(top, #3498db, #cfcb80);
  background-image: linear-gradient(to bottom, #3498db, #cfcb80);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: 'Montserrat', sans-serif ;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}